<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
</head>

<body>

  <p id="title">call my bluff</p>

  <p>what is the meaning of the word '<%=@game.word%>'?</p>

  <p>1. <%=@game.options[0]%></p>
  <p>2. <%=@game.options[1]%></p>
  <p>3. <%=@game.options[2]%></p>

</body>

</html>
