  <p>what is the meaning of the word <span id='mystery_word'>'<%=@game.word%>'</span>?</p>

  <a href='game/1'><p>1. <%=@game.options[0]%></p></a>
  <a href='game/2'><p>2. <%=@game.options[1]%></p></a>
  <a href='game/3'><p>3. <%=@game.options[2]%></p></a>
