<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
</head>

<body>

  <p id="title">call my bluff</p>

  <p>guess which definition of the word is correct.  the other two are bluffs.</p>

  <form action="/game/new" method="post">
    <input type="submit" value="play now!"/>
  </form>

</body>

</html>
