<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
</head>

<body>

  <p id="title">CALL MY BLUFF</p>

</body>

</html>
