  <p>guess which definition of the word is correct.  the other two are bluffs.</p>

  <form action="/game/new" method="post">
    <input class='bluff-button' type="submit" value="play now!"/>
  </form>
