<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="/style.css">
</head>

<body>

  <p id="title">call my bluff</p>

  <p><%=@game.guess(@definition)%></p>

  <form action="/game/new" method="post">
    <input type="submit" value="play again!"/>
  </form>

</body>

</html>
