body {
  background-color: #3399ff;
  color: #FCFBE3;
  font-family: 'Artifika', serif;
  text-align: center;
}

#title {
  font-size: 50px;
  border-bottom: 2px solid #0000b3;
}

#mystery_word {
  font-size: 50px;
  color: #0000b3;
}

p {
 font-size: 20px;
}

a {
  text-decoration: none;
  color: #FCFBE3;
}

.bluff-button {
  background-color: #FCFBE3;
  border: none;
  color: #3399ff;
  font-family: 'Artifika', serif;
  font-size: 20px;
  border-radius: 12px;
  padding: 16px;
}
